<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--scripts for header-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="/css/roboto.min.css" rel="stylesheet">
    <link href="/css/material-fullpalette.min.css" rel="stylesheet" />
    <link href="/css/ripples.min.css" rel="stylesheet">
</head>
<body>

    <!--navbar-->
    <div class="navbar navbar-material-blue-grey-700">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../../index.html"><img src="/img/grandtheftmaterial.png" /></a>



        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">


            <ul class="nav navbar-nav navbar-right">
                <li><a href="player.html">Player Effects</a></li>
                <li><a href="vehicles.html">Vehicles</a></li>
                <li><a href="world.html">World Effects</a></li>
                <li><a href="javascript:void(0)">About GTM</a></li>

            </ul>
        </div>
    </div>

    <!--body-->
    <div class="container col-md-12">
        <div class="jumbotron" style="grid-column-align:center">
            <h1>So you have a PC?</h1>
            <p>Assuming your network card hasn't shit the bed from having to download 60 GB of game data from Steam over a twenty-four hour period of time, you're in prime position for the best GTA Experience overall.</p>
            <p>Help yourself to our growing collection of cheat codes, fun modifications among other things*</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#simple-dialog">A Few Tips<div class="ripple-wrapper"></div></button>
            <div id="simple-dialog" class="modal fade in" tabindex="-1" style="display: none;" aria-hidden="false">
                <div class="modal-backdrop fade"></div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h2>A Few Tips for First Timers</h2>
                            <p>
                               GTA V is a wonderfully expansive, open world game covering thirty square miles of land and sea. 
                                To that point, Rockstar Games has allowed quite a few cheats and modifications although with some 
                                notable omissions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <p style="font-size:12px">*Money Cheat Not Available.</p>
        </div>
    </div>


    <!--scripts for ripples and misc begin here-->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/js/ripples.min.js"></script>
    <script src="/js/material.min.js"></script>
    <script>
        $(document).ready(function () {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>
</body>
</html>
